
.tituloTopo h1{
    color: rgb(100, 217, 247);
    font-size: 4rem;
    font-family: 'Bitter', serif;
    margin-right: 45%;
    text-shadow:2px 2px 2px rgb(3, 105, 146);;
}



.sessao{
    padding-top: 5%;
    padding-bottom: 10%;
    text-align: center;
    background-color: rgb(219, 219, 219);
}


.subTitulosInt{   
    color: rgb(6, 170, 199);
    font-size: 2.3rem;
    font-weight: 200;
    text-decoration: none;
    font-family: 'Bitter', serif;
    
}

.sobreNosText ul, p{
    margin-block-start: 0rem;
    margin-block-end: 0rem;
}

h1{
    color: rgb(0, 149, 175);
    font-size: 3rem;
    font-weight: 200;
    font-family: 'Bitter', serif;
}

.sobreNosText p, ul, li{
    font-size: 1.1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: justify;
    list-style: none;
    text-indent: 7%;
}

#textoMissao{
    text-align: center;
    font-size: 1.1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style: none;
    text-indent: 7%;
}
.botoes{
    padding: 2% 4%;
    border: none;
    background-color:rgb(2, 102, 119);
    font-family: 'Fragment Mono', monospace;
    font-size: 1rem;
    color: white;
    text-decoration: none;
}
